{% extends "base.html" %}

{% block auth_content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card border-white">
            <div class="card-header bg-black border-bottom border-white p-4 text-center">
                <h4 class="fw-bold m-0 text-uppercase tracking-wider">Authentication</h4>
            </div>
            <div class="card-body p-5">
                <form method="POST">
                    <div class="mb-4">
                        <label class="text-white text-uppercase small fw-bold mb-2">Username</label>
                        <input type="text" name="username" class="form-control rounded-0 py-3" required autofocus>
                    </div>
                    <div class="mb-4">
                        <label class="text-white text-uppercase small fw-bold mb-2">Password</label>
                        <input type="password" name="password" class="form-control rounded-0 py-3" required>
                    </div>
                    <div class="d-grid mt-5">
                        <button type="submit" class="btn btn-primary py-3">LOGIN SYSTEM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}